/* TRACK THAT JOB */
/* INDEX CSS */

body, html {
    height: 100%;
}

p {
    font-family: "Verdana";
    padding: 15px;
}

/* NAV BAR */
.navbar-default {
    background-color: gold;
    font-family: "Verdana", "Geneva", sans-serif;
    z-index: 1;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    display: inline-flex;
    font-weight: 300;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: black;
    background-color: white;
}

.content {
    padding: 15px;
}